name: test github actions
on: push
jobs: 
   build_and_test:
     runs-on: ubuntu-latest 
     steps:
      - name: get the code
        uses: actions/checkout@v3
      - name: Set up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: '14'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
